APP_NAME=AI Research Assistant
ENV=development

GEMINI_API_KEY=

HF_TOKEN=

DATABASE_URL=sqlite:///./research.db
# DATABASE_URL=postgresql://postgres:postgres@db:5432/research_db

VECTOR_DB_PATH=vector_store

EMBEDDING_MODEL=BAAI/bge-small-en

SECRET_KEY=supersecretkey
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=60