fastapi
uvicorn
python-multipart
pydantic
pydantic[email]
python-dotenv

sqlalchemy
psycopg2-binary
psycopg2

passlib[bcrypt]
python-jose

langchain
langchain-community
langchain-text-splitters

google-generativeai

sentence-transformers
chromadb

pypdf

transformers
torch

tqdm

pytest

black
isort
ruff

tiktoken
rank-bm25
redis
slowapi

psutil